<div class="mb-3">
  <button (click)="abrirABMAlumnos()" color="primary" mat-flat-button>
    <mat-icon>add</mat-icon>
    Agregar Alumno
  </button>
</div>

<div class="justify-content-center align-content-end">
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Nombre Column -->
      <ng-container matColumnDef="alumno">
        <th mat-header-cell *matHeaderCellDef>Alumno</th>
        <td mat-cell *matCellDef="let alumno">
          {{ alumno | nombreCompleto }}
        </td>
      </ng-container>

      <!-- Initials Column -->
      <ng-container matColumnDef="iniciales">
        <th mat-header-cell *matHeaderCellDef>Iniciales</th>
        <td mat-cell *matCellDef="let alumno">{{ alumno | initials }}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let alumno">
          {{ alumno.email | lowercase }}
        </td>
      </ng-container>

      <!-- Nota Column -->
      <ng-container matColumnDef="nota">
        <th mat-header-cell *matHeaderCellDef>Nota</th>
        <td mat-cell *matCellDef="let alumno">
          {{ alumno.nota | number : "1.0-0" }}
        </td>
      </ng-container>

      <!-- Eliminar Column -->
      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let alumno; let i = index">
          <button mat-button  (click)="eliminarAlumno(i)">
            <mat-icon class="pointer"
            >delete</mat-icon
          >
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</div>
